nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar {
    background-color: #ffffff;
    color: #080606;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 20%;
    z-index: 1000;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  
  .nav-links a {
    color: #121111;
    text-decoration: none;
  }
  .dropdown-menu{
    list-style: none;
    padding:0;
    margin:0;
    position:absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }